<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu Flutuante</title>
    <style>
        #container {
            width: 500px;
            height: 100px;
            background-color: aqua;
            display: flex;
        }

        #container * {
            margin: 8px;
        }

        .action {
            position: relative;
            float: right;
        }

    </style>
</head>
<body>
    <div id="container">
        <div>
            <input type="text" name="" id="">
        </div>
        <div>
            <input type="text" name="" id="">
        </div>
        <div class="action">
            <a href="https://www.google.com">Goo</a>
        </div>
    </div>
</body>
</html>