@font-face {
  font-family: 'Teste';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'Teste', monospace;
}

body {
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73))
}